.m-user:after,.btn_padding:after{
    content: '';
    display: block;
    visibility:hidden;
    clear: both;
    height: 0;
}
.m-user{
    padding: 20px 0 22px;
    margin: 0 0 20px;
    border-bottom: 1px solid #D9D9D9;
}